# https://direnv.net/
# alternative: `source .envrc`

if [[ -f ".kind-kubeconfig" ]]; then
	export KUBECONFIG=$PWD/.kind-kubeconfig
fi

if [[ -d ".cache/plugins" ]]; then
	export KUSTOMIZE_PLUGIN_HOME=$PWD/.cache/plugins
fi
